html {
    position: relative;
    min-height: 100%;
    background-color: #f8f9fa;
}
#body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
    background-color: #f8f9fa;
    height:100%;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

#container {
    min-height: 100%;
    height: 100%;
    background-color: #f8f9fa;
}