#header {
    padding: 2%;
    text-align: center;
}

#content {
    width: 50%;
    margin: auto;
}

.ContactUs button {
    background-color: #e83e8c;
    border-color: #e83e8c;
}

@media all and (max-width: 480px) {
    #content {
        width: 80%;
        margin: auto;
    }
}