@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #0D3070;
    color:#FFFFFF;
  }

  .Login form {
    margin: 0 auto;
    max-width: 500px;
  }

  .Login button {
      background-color: #e83e8c;
      border-color: #e83e8c;
  }
}

