#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow:hidden;
}

#nav-bar-priority {
    z-index: 0;
}

.item {
    float:left;
    width:20%;
}

.link-text {
    color:black;
    text-align:center;
}

.link-text:hover {
  color: yellow;
}

.logo {
  height: 100%;
  width: 100%;
}

.homePageButton {
  height: 4%;
  width: 4%;
}

@media only screen and (max-width: 790px) {
    [class*="item"] {
        width: 100%
    }
}
