@media all and (min-width: 480px) {
  .signUp {
    padding: 60px 0;
    padding-left: 150px;
    padding-right: 150px;
    background-color: #f8f9fa;
  }

  .signUp form {
    margin: 0 auto;
    max-width: 500px;
  }

  .signUp button {
      background-color: #e83e8c;
      border-color: #e83e8c;
  }

  .hidden {
    display:none;
  }

  .title {
    text-align: center;
    padding-bottom: 5%;
  }
}
